.category {
  width: 100%;
}
div.caption h3 {
  font-size: 14px;
}
.width-100 {
  width: 100%;
}
.product-property h1 {
  font-size: 26px;
  margin-top: 5px;
}
.product-property div.star {
  margin-top: 10px;
}
.product-property div.star span.gold {
  color: gold;
}
.product-property div.price {
  margin-top: 10px;
}
.product-property div.price span.current {
  color: green;
  font-size: 36px;
  font-weight: bold;
}
.product-property div.price span.cost {
  margin-left: 20px;
  color: grey;
  font-size: 26px;
}
.product-property div.size {
  margin-top: 10px;
}
.product-property div.description {
  margin-top: 10px;
}
.product-property div.buy {
  margin-top: 10px;
}
.similar {
  margin-top: 50px;
}
.similar h2 {
  font-size: 20px;
}
.search-data div.single {
  padding-left: 5px;
  padding-top: 1px;
  background-color: #eee;
  border-radius: 10px;
}
.search-data h2 {
  font-size: 20px;
}
.search-data h3 {
  font-size: 16px;
}
.powered .logo {
  height: 30px;
}
